<?xml version="1.0" encoding="utf-8" ?>
<DatabaseExpression>
  <QuerySqlJobWaitForExecute>
    <![CDATA[select * from t_Rptcenter_RptTaskRecord where ExecuteStatus = 0 and ActionStatus = 0 and CornLike is not NULL AND CornLike <> '']]>
  </QuerySqlJobWaitForExecute>
  <UpdateExecuteStatus><![CDATA[update t_Rptcenter_RptTaskRecord set ExecuteStatus = {0} where id = {1}]]></UpdateExecuteStatus>
  <UpdateActionStatus><![CDATA[update t_Rptcenter_RptTaskRecord set ActionStatus = {0} where id = {1}]]></UpdateActionStatus>
  <RemoveWaitForDeleteJob><![CDATA[delete from t_Rptcenter_RptTaskRecord where id ={0}]]></RemoveWaitForDeleteJob>
</DatabaseExpression>