<?xml version="1.0" encoding="utf-8" ?>
<DatabaseExpression>
  <QuerySqlJobWaitForExecute>select * from t_Rptcenter_RptTaskRecord where ExecuteStatus = 0 and ActionStatus = 0</QuerySqlJobWaitForExecute>
  <UpdateExecuteStatus>update t_Rptcenter_RptTaskRecord set ExecuteStatus = {0} where id = {1}</UpdateExecuteStatus>
  <UpdateActionStatus>update t_Rptcenter_RptTaskRecord set ActionStatus = {0} where id = {1}</UpdateActionStatus>
  <RemoveWaitForDeleteJob>delete from t_Rptcenter_RptTaskRecord where id ={0}</RemoveWaitForDeleteJob>
</DatabaseExpression>